<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album Details</title>
</head>
<body>
<header>
    <h1 th:text="'Album ID: ' + ${album.id}"></h1>
</header>
<section>
    <h2 th:text="'Album name: ' + ${album.name}"></h2>
    <h2 th:text="'Genre: ' + ${album.genre}"></h2>
    <h2 th:text="'Release Year: ' + ${album.releaseYear}"></h2>
    <h2>Tracks:</h2>
    <ul>
        <li th:each="track : ${album.songs}">
            <span th:text="${track.trackId}"></span> -
            <span th:text="${track.title}"></span>
        </li>
    </ul>
</section>
</body>
</html>
