<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artist Details</title>
</head>
<body>
<header>
    <h1 th:text="'Artist ID: '+${artist.id}"></h1>
</header>
<section>
    <h2 th:text="'Artist name: '+${artist.firstName}+' '+${artist.lastName}"></h2>
    <h2 th:text="'Artist bio : '+${artist.bio}"></h2>
    <h2>Songs:</h2>
    <ul>
        <li th:each="song : ${artist.songsList}">
            <span th:text="${song.title}"></span>
        </li>
    </ul>
</section>


</body>
</html>